<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ABOUT PAGE WITH HBS</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        {{> header}}
        <p>some text</p>
        {{> footer}}
    </body>
</html>


<!-- express middleware lets you configure how your express application works -->