<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HOME PAGE WITH HBS</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
                {{> header}}

        <p>{{UpperCase welcomeMessage}}</p>
                {{> footer}}

    </body>
</html>


<!-- express middleware lets you configure how your express application works -->