<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HOME PAGE WITH HBS</title>
    </head>
    <body>
<h1>WE WILL BE RIGHT BACK</h1>
<p>
    this site currently being updated
</p>
    </body>
</html>


<!-- express middleware lets you configure how your express application works -->